<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/others/mini_logo.png">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/catalog.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/catalog.js"></script>

    <title>Ювелирный интернет магазин MOONLIGHT</title>
</head>

<body style='overflow-x: hidden;'>
    <%- include('templates/header.ejs') %>

        <main>
            <section class="catalog">
                <div class="catalog-card">
                    <div class="catalog-left">
                        <div class="catalog-choose-tab">
                            <nav class="catalog-choose-nav">
                                <a href="#" class="catalog-choose-nav-active" data-active="true">Золото</a>
                                <a href="#">Платина</a>
                                <a href="#">Серебро</a>
                                <a href="#">Бижутерия</a>
                            </nav>
                        </div>
                    </div>

                    <div class="catalog-right-container">
                        <div class="catalog-products">
                            <!-- Золото -->
                            <div class="catalog-products-item" id="z_ring1"
                                onclick="openModal('Золотое кольцо с фианитами', '6 590 ₽', 'Кольцо, вставка: фианитом бесцветным; Розовое золото 375 пробы.', 'images/tiles_zoloto/ring_1.png')">

                                <img src="images/tiles_zoloto/ring_1.png" alt="Золотое кольцо с фианитами" />
                                <div class="text-container">
                                    <p>Золотое кольцо</p>
                                    <span>6 590 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="z_ring2"
                                onclick="openModal('Золотое кольцо с фианитами', '12 990 ₽', 'Сердце считается одним из самых популярных мотивов в современном ювелирном искусстве, который у большинства ассоциируется с любовью и романтизмом. Такой знаковый подарок-украшение с сердечком без лишних слов продемонстрирует силу чувств и привязанности. Это универсальный символ — признание в любви, памятная ценность, которая будет греть и оживлять драгоценные воспоминания.', 'images/tiles_zoloto/ring_2.png')">

                                <img src="images/tiles_zoloto/ring_2.png" alt="Золотое кольцо с фианитами" />
                                <div class="text-container">
                                    <p>Золотое кольцо</p>
                                    <span>12 990 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="z_ring3"
                                onclick="openModal('Золотое кольцо с бриллиантами природными и изумрудами природными', '31 990 ₽', 'Универсальная классика. Кольцо выполнено из розового золота с дорожкой из бриллиантов и изумрудов. Нежное, утонченное, подойдет не только к деловому костюму, но и дополнит образ любой модницы.', 'images/tiles_zoloto/ring_3.png')">

                                <img src="images/tiles_zoloto/ring_3.png"
                                    alt="Золотое кольцо с бриллиантами природными и изумрудами природными" />
                                <div class="text-container">
                                    <p>Золотое кольцо</p>
                                    <span>31 990 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="z_bracelet1"
                                onclick="openModal('Золотой браслет', '15 990 ₽', 'Плетение Бисмарк - надежное соединение звеньев якорного типа. Самодостаточное украшение, которое идеально подходит женщинам. С цепями данного типа необходимо обращаться особенно аккуратно, во избежание образования заломов. Рекомендуем снимать украшение перед сном.', 'images/tiles_zoloto/bracelet_1.png')">

                                <img src="images/tiles_zoloto/bracelet_1.png" alt="Золотой браслет" />
                                <div class="text-container">
                                    <p>Золотой браслет</p>
                                    <span>15 990 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="z_bracelet2"
                                onclick="openModal('Золотой браслет с топазами природными', '35 990 ₽', 'Браслет с 9 топазами, 3.83 карат, тип огранки Б; Розовое золото 585 пробы.', 'images/tiles_zoloto/bracelet_2.png')">

                                <img src="images/tiles_zoloto/bracelet_2.png"
                                    alt="Золотой браслет с топазами природными" />
                                <div class="text-container">
                                    <p>Золотой браслет</p>
                                    <span>35 990 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="z_earrings"
                                onclick="openModal('Золотые серьги с бриллиантами природными и гранатами природными', '19 990 ₽', 'Насыщенный и страстный ярко-красный гранат, заключенный в роскошную золотую оправу. Гранат - символ любви, верности и мужества.', 'images/tiles_zoloto/earrings.png')">

                                <img src="images/tiles_zoloto/earrings.png"
                                    alt="Золотые серьги с бриллиантами природными и гранатами природными" />
                                <div class="text-container">
                                    <p>Золотые серьги</p>
                                    <span>19 990 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="z_pendant"
                                onclick="openModal('Золотая подвеска с бриллиантом', '12 490 ₽', 'Подвеска с 1 бриллиантом природным, 0.008 карат, огранка круг 57 граней, цвет 3, чистота 6, тип огранки А; Розовое золото 585 пробы.', 'images/tiles_zoloto/pendant.png')">

                                <img src="images/tiles_zoloto/pendant.png" alt="Золотая подвеска с бриллиантом" />
                                <div class="text-container">
                                    <p>Золотая подвеска</p>
                                    <span>12 490 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="z_brooch"
                                onclick="openModal('Золотая брошь', '8 990 ₽', 'Костромские ювелирные украшения: традиционный русский стиль - Коллекция украшений с традиционными русскими дизайнами. Украшения несут в себе ювелирные традиции, любимые многими поколениями российских женщин, которые сохранят свою ценность на многие года.', 'images/tiles_zoloto/brooch.png')">

                                <img src="images/tiles_zoloto/brooch.png" alt="Золотая брошь" />
                                <div class="text-container">
                                    <p>Золотая брошь</p>
                                    <span>8 990 ₽</span>
                                </div>
                            </div>


                            <!-- Платина -->
                            <div class="catalog-products-item" id="p_ring1"
                                onclick="openModal('Платиновое обручальное кольцо', '40 712 ₽', 'Кольцо. Платина 950 пробы.', 'images/tiles_platina/ring_1.png')">

                                <img src="images/tiles_platina/ring_1.png" alt="Платиновое обручальное кольцо" />
                                <div class="text-container">
                                    <p>Платиновое кольцо</p>
                                    <span>40 712 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="p_ring2"
                                onclick="openModal('Платиновое кольцо с бриллиантами природными', '132 992 ₽', 'Кольцо с 17 бриллиантами, 0.37 карат, огранка круг 57 граней, цвет 3, чистота 6, тип огранки А; Платина 950 пробы.', 'images/tiles_platina/ring_2.png')">

                                <img src="images/tiles_platina/ring_2.png"
                                    alt="Платиновое кольцо с бриллиантами природными" />
                                <div class="text-container">
                                    <p>Платиновое кольцо</p>
                                    <span>132 992 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="p_ring3"
                                onclick="openModal('Платиновое кольцо с бриллиантами природными', '64 992 ₽', 'Кольцо с 1 бриллиантом природным, 0.14 карат, огранка круг 57 граней, цвет 3, чистота 6, тип огранки А; Платина 950 пробы.', 'images/tiles_platina/ring_3.png')">

                                <img src="images/tiles_platina/ring_3.png"
                                    alt="Платиновое кольцо с бриллиантами природными" />
                                <div class="text-container">
                                    <p>Платиновое кольцо</p>
                                    <span>64 992 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="p_bracelet1"
                                onclick="openModal('Платиновая подвеска с бриллиантами природными', '84 992 ₽', 'Подвеска с 1 бриллиантом природным, 0.24 карат, огранка круг 57 граней, цвет 3, чистота 6, тип огранки А; Платина 950 пробы.', 'images/tiles_platina/pendant_1.png')">

                                <img src="images/tiles_platina/pendant_1.png"
                                    alt="Платиновая подвеска с бриллиантами природными" />
                                <div class="text-container">
                                    <p>Платиновая подвеска</p>
                                    <span>84 992 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="p_bracelet2"
                                onclick="openModal('Платиновая цепь', '22 200 ₽', 'Цепь. Платина 950 пробы.', 'images/tiles_platina/chain_1.png')">

                                <img src="images/tiles_platina/chain_1.png" alt="Платиновая цепь" />
                                <div class="text-container">
                                    <p>Платиновая цепь</p>
                                    <span>22 200 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="p_earrings"
                                onclick="openModal('Платиновое обручальное кольцо', '89 043 ₽', 'Кольцо. Платина 950 пробы.', 'images/tiles_platina/ring_4.png')">

                                <img src="images/tiles_platina/ring_4.png" alt="Платиновое обручальное кольцо" />
                                <div class="text-container">
                                    <p>Платиновое кольцо</p>
                                    <span>89 043 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="p_pendant"
                                onclick="openModal('Платиновые серьги с бриллиантами природными', '270 000 ₽', 'Серьги с 2 бриллиантами природными, 0.55 карат, огранка круг 57 граней, цвет 3, чистота 6, тип огранки А; Платина 950 пробы.', 'images/tiles_platina/earrings_1.png')">

                                <img src="images/tiles_platina/earrings_1.png"
                                    alt="Платиновые серьги с бриллиантами природными" />
                                <div class="text-container">
                                    <p>Платиновые серьги</p>
                                    <span>270 000 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="p_brooch"
                                onclick="openModal('Платиновый браслет с бриллиантами природными', '300 000 ₽', 'Браслет с 3 бриллиантами природными, 0.3 карат, огранка круг 57 граней, цвет 3, чистота 6, тип огранки А; Платина 950 пробы.', 'images/tiles_platina/bracelet_1.png')">

                                <img src="images/tiles_platina/bracelet_1.png"
                                    alt="Платиновый браслет с бриллиантами природными" />
                                <div class="text-container">
                                    <p>Платиновый браслет</p>
                                    <span>300 000 ₽</span>
                                </div>
                            </div>


                            <!-- Серебро -->
                            <div class="catalog-products-item" id="s_ring1"
                                onclick="openModal('Серебряные серьги с керамикой', '6 640 ₽', 'Серьги, вставка: керамика черная; Серебро 925 пробы.', 'images/tiles_serebro/earrings_1.png')">

                                <img src="images/tiles_serebro/earrings_1.png" alt="Серебряные серьги с керамикой" />
                                <div class="text-container">
                                    <p>Серебряные серьги</p>
                                    <span>6 640 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="s_ring2"
                                onclick="openModal('Серебряное шейное украшение с керамикой', '6 166 ₽', 'Шейное укр., вставка: керамика черная; Серебро 925 пробы.', 'images/tiles_serebro/pendant_1.png')">

                                <img src="images/tiles_serebro/pendant_1.png"
                                    alt="Серебряное шейное украшение с керамикой" />
                                <div class="text-container">
                                    <p>Серебряная подвеска</p>
                                    <span>6 166 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="s_ring3"
                                onclick="openModal('Серебряные серьги с фианитами', '3 980 ₽', 'Серьги, вставка: фианитом бесцветным; Серебро 925 пробы.', 'images/tiles_serebro/earrings_2.png')">

                                <img src="images/tiles_serebro/earrings_2.png" alt="Серебряные серьги с фианитами" />
                                <div class="text-container">
                                    <p>Серебряные серьги</p>
                                    <span>3 980 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="s_bracelet1"
                                onclick="openModal('Серебряные серьги', '2 840 ₽', 'Серьги. Серебро 925 пробы.', 'images/tiles_serebro/earrings_3.png')">

                                <img src="images/tiles_serebro/earrings_3.png" alt="Серебряные серьги" />
                                <div class="text-container">
                                    <p>Серебряные серьги</p>
                                    <span>2 840 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="s_bracelet2"
                                onclick="openModal('Серебряный браслет', '4 790 ₽', 'Браслет. Серебро 925 пробы.', 'images/tiles_serebro/bracelet_1.png')">

                                <img src="images/tiles_serebro/bracelet_1.png" alt="Серебряный браслет" />
                                <div class="text-container">
                                    <p>Серебряный браслет</p>
                                    <span>4 790 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="s_earrings"
                                onclick="openModal('Серебряное шейное украшение', '7 116 ₽', 'Шейное укр. Серебро 925 пробы.', 'images/tiles_serebro/pendant_2.png')">

                                <img src="images/tiles_serebro/pendant_2.png" alt="Серебряное шейное украшение" />
                                <div class="text-container">
                                    <p>Серебряная подвеска</p>
                                    <span>7 116 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="s_pendant"
                                onclick="openModal('Серебряное кольцо с фианитами и алпанитом', '2 190 ₽', 'Кольцо, вставка: алпанит синий; фианитом бесцветным; Серебро 925 пробы.', 'images/tiles_serebro/ring_1.png')">

                                <img src="images/tiles_serebro/ring_1.png"
                                    alt="Серебряное кольцо с фианитами и алпанитом" />
                                <div class="text-container">
                                    <p>Серебряное кольцо</p>
                                    <span>2 190 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="s_brooch"
                                onclick="openModal('Серебряное кольцо с фианитами', '6 640 ₽', 'Кольцо, вставка: фианитом бесцветным; Серебро 925 пробы.', 'images/tiles_serebro/ring_2.png')">

                                <img src="images/tiles_serebro/ring_2.png" alt="Серебряное кольцо с фианитами" />
                                <div class="text-container">
                                    <p>Серебрянное кольцо</p>
                                    <span>6 640 ₽</span>
                                </div>
                            </div>


                            <!-- Бижутерия -->
                            <div class="catalog-products-item" id="b_ring1"
                                onclick="openModal('Карбоновый браслет с каучуком и карбоном', '1 990 ₽', 'Браслет, вставка: Сталь; карбон; каучук; Сталь', 'images/tiles_bizhuteria/bracelet_1.png')">

                                <img src="images/tiles_bizhuteria/bracelet_1.png"
                                    alt="Карбоновый браслет с каучуком и карбоном" />
                                <div class="text-container">
                                    <p>Карбоновый браслет</p>
                                    <span>1 990 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="b_ring2"
                                onclick="openModal('Стальное колье', '2 650 ₽', 'Шейное укр., вставка: Сталь; Сталь', 'images/tiles_bizhuteria/pendant_1.png')">

                                <img src="images/tiles_bizhuteria/pendant_1.png" alt="Стальное колье" />
                                <div class="text-container">
                                    <p>Стальное колье</p>
                                    <span>2 650 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="b_ring3"
                                onclick="openModal('Стальной браслет с каучуком', '3 980 ₽', 'Браслет, вставка: Сталь; каучук; Сталь', 'images/tiles_bizhuteria/bracelet_2.png')">

                                <img src="images/tiles_bizhuteria/bracelet_2.png" alt="Стальной браслет с каучуком" />
                                <div class="text-container">
                                    <p>Стальной браслет</p>
                                    <span>3 980 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="b_bracelet1"
                                onclick="openModal('Стальное кольцо', '1 890 ₽', 'Кольцо, вставка: Сталь; Сталь', 'images/tiles_bizhuteria/ring_1.png')">

                                <img src="images/tiles_bizhuteria/ring_1.png" alt="Стальное кольцо" />
                                <div class="text-container">
                                    <p>Стальное кольцо</p>
                                    <span>1 890 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="b_bracelet2"
                                onclick="openModal('Стальной браслет', '3 790 ₽', 'Браслет, вставка: Сталь;', 'images/tiles_bizhuteria/bracelet_3.png')">

                                <img src="images/tiles_bizhuteria/bracelet_3.png" alt="Стальной браслет" />
                                <div class="text-container">
                                    <p>Стальной браслет</p>
                                    <span>3 790 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="b_earrings"
                                onclick="openModal('Стальной браслет', '3 980 ₽', 'Браслет, вставка: Сталь;', 'images/tiles_bizhuteria/bracelet_4.png')">

                                <img src="images/tiles_bizhuteria/bracelet_4.png" alt="Стальной браслет" />
                                <div class="text-container">
                                    <p>Стальной браслет</p>
                                    <span>3 980 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="b_pendant"
                                onclick="openModal('Стальное кольцо', '940 ₽', 'Кольцо, вставка: Сталь; Сталь', 'images/tiles_bizhuteria/ring_2.png')">

                                <img src="images/tiles_bizhuteria/ring_2.png" alt="Стальное кольцо" />
                                <div class="text-container">
                                    <p>Стальное кольцо</p>
                                    <span>940 ₽</span>
                                </div>
                            </div>
                            <div class="catalog-products-item" id="b_brooch"
                                onclick="openModal('Стальное колье с фианитами', '1 416 ₽', 'Шейное укр., вставка: Сталь; фианит бесцветный; Сталь', 'images/tiles_bizhuteria/pendant_2.png')">

                                <img src="images/tiles_bizhuteria/pendant_2.png" alt="Стальное колье с фианитами" />
                                <div class="text-container">
                                    <p>Стальное колье</p>
                                    <span>1 416 ₽</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('templates/modal_window.ejs') %>
        </main>

        <%- include('templates/footer.ejs', { visitorCount: visitorCount }); %>

        <a href="#" class="top"></a>
</body>

</html>