<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/others/mini_logo.png">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/delivery.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/delivery.js"></script>

    <title>Доставка MOONLIGHT</title>
</head>

<body style='overflow-x: hidden;' onload="showAnswer(0)">
    <%- include('templates/header.ejs') %>

        <main>
            <table>
                <thead>
                    <tr>
                        <th>Способ доставки</th>
                        <th>Магазины и пункты выдачи</th>
                        <th>Стоимость</th>
                        <th>Срок доставки</th>
                        <th>Способ оплаты</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>В магазин MOONLIGHT</td>
                        <td>111 магазинов</td>
                        <td>Бесплатно</td>
                        <td>Дата и интервал доставки зависят от адреса получения и будут указаны в Корзине при
                            оформлении заказа.</td>
                        <td>
                            <ul>
                                <li>Оплата наличными</li>
                                <li>Онлайн-оплата:</li>
                                <ul>
                                    <li>Банковская карта</li>
                                    <li>Sber Pay</li>
                                    <li>ЮMoney</li>
                                    <li>Альфа-клик</li>
                                    <li>Тинькофф</li>
                                    <li>Долями</li>
                                    <li>СБП</li>
                                </ul>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>В пункт выдачи</td>
                        <td>4730 пунктов выдачи</td>
                        <td>Бесплатно</td>
                        <td>Дата и интервал доставки зависят от адреса получения и будут указаны в Корзине при
                            оформлении заказа.</td>
                        <td>
                            <ul>
                                <li>Оплата наличными</li>
                                <li>Онлайн-оплата:</li>
                                <ul>
                                    <li>Банковская карта</li>
                                    <li>Sber Pay</li>
                                    <li>ЮMoney</li>
                                    <li>Альфа-клик</li>
                                    <li>Тинькофф</li>
                                    <li>Долями</li>
                                    <li>СБП</li>
                                </ul>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Курьерская доставка</td>
                        <td>Доступно в вашем регионе</td>
                        <td>Бесплатно при заказе от 1990 Р, до 1990 Р стоимость доставки 180 Р</td>
                        <td>Дата и интервал доставки зависят от адреса получения и будут указаны в Корзине при
                            оформлении заказа.</td>
                        <td>
                            <ul>
                                <li>Оплата наличными</li>
                                <li>Онлайн-оплата:</li>
                                <ul>
                                    <li>Банковская карта</li>
                                    <li>Sber Pay</li>
                                    <li>ЮMoney</li>
                                    <li>Альфа-клик</li>
                                    <li>Тинькофф</li>
                                    <li>Долями</li>
                                    <li>СБП</li>
                                </ul>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Экспресс-доставка</td>
                        <td>Доступно в вашем регионе</td>
                        <td>Бесплатно от 9990 Р, либо 490 Р</td>
                        <td>За 3 часа с момента оплаты заказа</td>
                        <td>
                            <ul>
                                <li>Онлайн-оплата:</li>
                                <ul>
                                    <li>Банковская карта</li>
                                    <li>Sber Pay</li>
                                    <li>ЮMoney</li>
                                    <li>Альфа-клик</li>
                                    <li>Тинькофф</li>
                                    <li>Долями</li>
                                    <li>СБП</li>
                                </ul>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Экспресс-доставка от 30 минут</td>
                        <td>Доступно в вашем регионе</td>
                        <td>Бесплатно от 9990 Р, либо 490 Р</td>
                        <td>От 30 минут с момента оплаты заказа</td>
                        <td>
                            <ul>
                                <li>Онлайн-оплата:</li>
                                <ul>
                                    <li>Банковская карта</li>
                                    <li>Sber Pay</li>
                                    <li>ЮMoney</li>
                                    <li>Альфа-клик</li>
                                    <li>Тинькофф</li>
                                    <li>Долями</li>
                                    <li>СБП</li>
                                </ul>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="delivery-options">
                <div class="delivery-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none">
                        <path stroke="#278e97" stroke-width="3" d="M5.5 18v25l25.473 12.987L54.9 43.5V17M31 29.5v26.9" />
                        <path stroke="#278e97" stroke-width="3"
                            d="M30.568 29.8 5.885 18.373a1 1 0 0 1-.027-1.802L29.557 4.72a1 1 0 0 1 .888-.003l24.224 11.884a1 1 0 0 1 0 1.796L31.428 29.79a1 1 0 0 1-.86.01Z" />
                        <path stroke="#278e97" stroke-width="3"
                            d="M39 9 14.539 21.72a1 1 0 0 0-.539.887V30.5a1 1 0 0 0 1 1h2.01a1 1 0 0 1 .79.386l1.41 1.813c.585.752 1.79.339 1.79-.613v-6.973a1 1 0 0 1 .546-.891L46.5 12.5" />
                    </svg>
                    <p>Бесплатная доставка при заказе от 1990 Р, до 1990 Р стоимость доставки 180 Р</p>
                </div>
                <div class="delivery-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none">
                        <path stroke="#278e97" stroke-width="3"
                            d="M37.138 25.742A13.44 13.44 0 0 0 30.5 24C23.044 24 17 30.044 17 37.5S23.044 51 30.5 51 44 44.956 44 37.5a13.5 13.5 0 0 0-1.24-5.661" />
                        <circle cx="30.5" cy="37.5" r="20" stroke="#278e97" stroke-width="3" />
                        <path stroke="#278e97" stroke-width="3"
                            d="m28 17.5-5.907-6.361a1 1 0 0 1-.04-1.314L25.7 5.367A1 1 0 0 1 26.474 5h9.052a1 1 0 0 1 .774.367l3.647 4.456a1 1 0 0 1-.043 1.316L33.5 18M22 10.5h19" />
                    </svg>
                    <p>Можно заказать несколько изделий на выбор</p>
                </div>
                <div class="delivery-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none">
                        <path stroke="#278e97" stroke-width="3"
                            d="M21.9 25.202 7.788 30.043c-.904.31-.9 1.59.006 1.894l23.104 7.75a1 1 0 0 0 .641-.001l22.925-7.82c.876-.3.91-1.526.053-1.874L40.5 24.302" />
                        <path stroke="#278e97" stroke-width="3"
                            d="M7.5 31.387v15.545L31.5 56l23.4-9.068V31.386M31.5 39v17.4" />
                        <circle cx="31.2" cy="15.488" r="3.3" fill="#278e97" />
                        <path fill="#278e97"
                            d="m39.008 20.71-1.22-.872-.045.063-.038.067zm-15.836-.092 1.287-.77-.026-.045-.03-.043zm5.76 8.384 1.22-.873zm4.53.113 1.196.904zm5.847-14.03a8.14 8.14 0 0 1-1.521 4.753l2.44 1.745a11.14 11.14 0 0 0 2.081-6.499zm-8.186-8.187a8.186 8.186 0 0 1 8.186 8.186h3c0-6.177-5.008-11.186-11.186-11.186zm-8.186 8.186a8.186 8.186 0 0 1 8.186-8.186v-3c-6.178 0-11.186 5.009-11.186 11.186zm1.466 4.676a8.14 8.14 0 0 1-1.466-4.676h-3c0 2.374.741 4.58 2.005 6.392zm5.75 8.369c-1.988-2.774-4.688-6.602-5.694-8.281l-2.574 1.54c1.084 1.811 3.871 5.756 5.828 8.488zm2.111.082c-.514.682-1.55.703-2.112-.082l-2.439 1.747c1.675 2.338 5.145 2.528 6.945.143zm5.441-8.243a78 78 0 0 1-5.44 8.243l2.393 1.808a81 81 0 0 0 5.654-8.566z" />
                    </svg>
                    <p>Доставим в любой из 841 магазинов</p>
                </div>
                <div class="delivery-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none">
                        <path stroke="#278e97" stroke-width="3"
                            d="m26.4 48.806-13.829-5.315c-1.867-.709-5.04-3.296-2.8-7.973 2.8-5.847 2.275-8.505 3.85-9.39 1.261-.71 4.437-2.683 6.479-3.628M35.4 22.406c1.7.66 5.311 2.16 6.155 2.88s3.166 4.74 4.045 6.12M16.8 37.406l12 6.6" />
                        <path stroke="#278e97" stroke-width="3"
                            d="M21 50.263v1.142a1 1 0 0 0 1 1h25a1 1 0 0 0 1-1v-19.6a1 1 0 0 0-1-1H22a1 1 0 0 0-1 1v4.534M16.8 45.805v10.8M37.8 52.406v4.8" />
                        <path stroke="#278e97" stroke-width="3" d="M30 30.805v4.2h9v-4.2" />
                        <path fill="#278e97" fill-rule="evenodd"
                            d="M27.307 3.906v.002h.154q.116.004.203.004v-.01a8.35 8.35 0 0 1 3.37.613c1.393.557 1.734 1.857 1.734 2.355V9.3h3V6.87c0-1.287-.73-3.984-3.62-5.14a11.4 11.4 0 0 0-4.68-.825l-.06.002a11.4 11.4 0 0 0-4.585.825c-2.89 1.157-3.62 3.855-3.62 5.141v11.355c0 .68.277 1.33.766 1.8l4.222 4.066a2.5 2.5 0 0 0 1.734.7h1.56v-3h-1.358l-3.924-3.779V6.873c0-.498.341-1.798 1.734-2.355a8.3 8.3 0 0 1 3.37-.612m5.46 9.925v4.18l-3.923 3.78h-1.359v3h1.56a2.5 2.5 0 0 0 1.735-.7l4.222-4.066a2.5 2.5 0 0 0 .766-1.8V13.83z"
                            clip-rule="evenodd" />
                        <path stroke="#278e97" stroke-width="3" d="M24 11.305h19.2" />
                    </svg>
                    <p>Доставка курьером в любое время</p>
                </div>
                <div class="delivery-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none">
                        <mask id="a" fill="#fff">
                            <rect width="45.6" height="31.2" x="4.8" y="18" rx="1" />
                        </mask>
                        <rect width="45.6" height="31.2" x="4.8" y="18" stroke="#278e97" stroke-width="6" mask="url(#a)"
                            rx="1" />
                        <path stroke="#278e97" stroke-width="3"
                            d="M10.2 16.2v-4.4a1 1 0 0 1 1-1h43a1 1 0 0 1 1 1V41a1 1 0 0 1-1 1h-2M10.8 36.898H21M23.4 36.898h21M10.8 42.301H21M23.4 42.301h21M16.5 26.7a2.4 2.4 0 1 1-4.8 0 2.4 2.4 0 0 1 4.8 0ZM21.9 26.7a2.4 2.4 0 1 1-4.8 0 2.4 2.4 0 0 1 4.8 0Z" />
                    </svg>
                    <p>Оплата наличными, онлайн или картой</p>
                </div>
                <div class="delivery-option">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none">
                        <path fill="#278e97" fill-rule="evenodd"
                            d="M13.116 17.398H51.11l8.64 15.68-2.02 13.12H51.6v-2.4h4.07l1.582-10.278-7.56-13.722H15.083l-.707 3.536H11.7zM9.92 37.285h2.49l-.622 3.139 3.135 3.376h.377v2.4h-1.423l-4.665-5.024z"
                            clip-rule="evenodd" />
                        <path stroke="#278e97" stroke-width="3"
                            d="M3 26.398h15.3M3 33.3h15.3M40.5 18.602l-2.1 10.2h17.4M24.15 46.33c-.772 1.495-1.904 2.562-3.046 3.111s-2.203.552-3.017.132-1.427-1.287-1.64-2.536c-.215-1.25 0-2.79.771-4.285.772-1.495 1.903-2.562 3.046-3.111s2.202-.553 3.017-.132c.814.42 1.427 1.286 1.64 2.535.214 1.25 0 2.79-.772 4.286ZM49.95 46.33c-.773 1.495-1.904 2.562-3.046 3.111s-2.203.552-3.017.132-1.427-1.287-1.64-2.536c-.215-1.25 0-2.79.771-4.285.772-1.495 1.903-2.562 3.046-3.111 1.141-.55 2.202-.553 3.017-.132.814.42 1.426 1.286 1.64 2.535s0 2.79-.772 4.286ZM25.2 45.3h16.2" />
                    </svg>
                    <p>Экспресс доставка</p>
                </div>
            </div>

            <div class="questions">
                <h2>Остались вопросы?</h2>
                <div style="display: flex;">
                    <div style="flex: 1; padding: 10px;">
                        <ol class="questions-nav">
                            <li class="questions-nav-link" onclick="showAnswer(0)">Срок доставки</li>
                            <li class="questions-nav-link" onclick="showAnswer(1)">Статус заказа</li>
                            <li class="questions-nav-link" onclick="showAnswer(2)">Примерка и получение</li>
                            <li class="questions-nav-link" onclick="showAnswer(3)">Оплата заказа</li>
                            <li class="questions-nav-link" onclick="showAnswer(4)">Обменять или вернуть просто!</li>
                        </ol>
                    </div>
                    <div style="flex: 1; padding: 10px; background-color: white;" id="answerContainer">
                        <!-- Answers will be displayed here -->
                    </div>
                </div>
            </div>
        </main>

        <%- include('templates/footer.ejs', { visitorCount: visitorCount }); %>

        <a href="#" class="top"></a>
</body>

</html>