<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/others/mini_logo.png">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="scripts/carousel.js"></script>
    <script src="scripts/scripts.js"></script>

    <title>Ювелирный интернет магазин MOONLIGHT</title>
</head>

<body style='overflow-x: hidden;'>
    <%- include('templates/header.ejs') %>

        <main>
            <section class="carousel">
                <div class="carousel-container">
                    <!-- Первая карточка -->
                    <div class="carousel-item">
                        <img src="images/ads/ad1.png" alt="" />
                    </div>

                    <!-- Вторая карточка -->
                    <div class="carousel-item">
                        <img src="images/ads/ad2.png" alt="" />
                    </div>

                    <!-- Третья карточка -->
                    <div class="carousel-item">
                        <img src="images/ads/ad3.png" alt="" />
                    </div>

                    <!-- Четвертая карточка -->
                    <div class="carousel-item">
                        <img src="images/ads/ad4.png" alt="" />
                    </div>

                    <!-- Пятая карточка -->
                    <div class="carousel-item">
                        <img src="images/ads/ad5.png" alt="" />
                    </div>
                </div>
            </section>

            <%- include('templates/tiles.ejs') %>

            <%- include('templates/modal_window.ejs') %>
        </main>

        <%- include('templates/footer.ejs', { visitorCount: visitorCount }); %>

        <a href="#" class="top"></a>
</body>

</html>