<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/others/mini_logo.png">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/map.css">

    <script src="https://api-maps.yandex.ru/2.1/?apikey=f171ca04-9a32-4baa-9ef6-af5156334bf2&lang=ru_RU"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/map.js"></script>

    <title>Адреса ювелирных магазинов MOONLIGHT</title>
</head>

<body style='overflow-x: hidden;'>
    <%- include('templates/header.ejs') %>

    <main>
        <h1>Адрес ювелирного мазазина MOONLIGHT</h1>
        <div class="map-card" id="map"></div>
    </main>

    <%- include('templates/footer.ejs', { visitorCount: visitorCount }); %>

    <a href="#" class="top"></a>
</body>

</html>