/* Stalinist One; Prosto One */
@import url("https://fonts.googleapis.com/css2?family=Prosto+One&family=Stalinist+One&display=swap");
/* Balsamiq Sans */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* remove the below if you don't want smooth scrolling */
html,
body {
    scroll-behavior: smooth;
}

.cart-container {
    display: flex;
    width: 92.8vw;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 5vw;
    font-family: 'Balsamiq Sans';
}

#cartItems {
    flex: 2;
    padding-right: 20px;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.empty-cart img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.cart-item img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.cart-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.quantity-control button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
}

.quantity-control button:hover {
    background-color: #e0e0e0;
}

.quantity-control input {
    width: 40px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 5px;
}

.cart-summary {
    flex: 1;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    position: relative;
    min-height: 12vw;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0;
}

#checkoutButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-family: 'Balsamiq Sans';
    background-color: #278e97;
    width: auto;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#checkoutButton:hover {
    background-color: #145b62;
}

.top {
    position: fixed;
    bottom: 20px;
    right: 15px;

    /* Начальное состояние: невидимое */
    opacity: 0;
    visibility: hidden;

    /* Переход для плавного появления */
    transition: opacity 0.3s ease, visibility 0.3s ease;

    /* Визуальное оформление */
    width: 45px;
    aspect-ratio: 1;
    background: #278e97;
    border-radius: 10px;
}

.top:before {
    content: "";
    position: absolute;
    inset: 30%;
    transform: translateY(20%) rotate(-45deg);
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
}

/* Показываем кнопку при прокрутке */
body.scrolled .top {
    opacity: 1;
    visibility: visible;
}