/* Stalinist One; Prosto One */
@import url("https://fonts.googleapis.com/css2?family=Prosto+One&family=Stalinist+One&display=swap");
/* Balsamiq Sans */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* remove the below if you don't want smooth scrolling */
html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Balsamiq Sans';
}

table {
    width: 93.8vw;
    margin-top: 5vw;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.delivery-options {
    display: flex;
    justify-content: center;
    width: 92.8vw;
    margin-top: 3vw;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.delivery-option {
    text-align: center;
    width: 30vw;
}

.delivery-option img {
    width: 50px;
    height: 50px;
}

.questions {
    width: 91.8vw;
    margin-top: 3vw;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.questions h2 {
    color: #333;
}

.questions-nav {
    list-style-type: none;
    padding: 0;
}

.questions-nav-link {
    padding: 10px;
    background-color: #e9e9e9;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.questions-nav-link:hover {
    background-color: #ddd;
}

.answer {
    display: none;
    padding: 10px;
    background-color: white;
    margin-left: 20px;
}

.answer.active {
    display: block;
}

.top {
    position: fixed;
    bottom: 20px;
    right: 15px;

    /* Начальное состояние: невидимое */
    opacity: 0;
    visibility: hidden;

    /* Переход для плавного появления */
    transition: opacity 0.3s ease, visibility 0.3s ease;

    /* Визуальное оформление */
    width: 45px;
    aspect-ratio: 1;
    background: #278e97;
    border-radius: 10px;
}

.top:before {
    content: "";
    position: absolute;
    inset: 30%;
    transform: translateY(20%) rotate(-45deg);
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
}

/* Показываем кнопку при прокрутке */
body.scrolled .top {
    opacity: 1;
    visibility: visible;
}